@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Exo:wght@500&display=swap');
/* <!-- some basic color theory to think about the website palette wouldn't hurt --> */

/* what this do - look good tho */
html {
    font-size: calc(1em + 0.5vw);
} 

/* ID'S ARE USED TO IDENTIFY AND STYLE SINGLE ITEMS
   CLASSES ARE USED TO DO THIS BUT FOR MULTIPLE OBJECTS
   
   DONT MAKE EVERYTHING A CLASS DIPSHIT*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

/* global properties that i want every link to have*/
a {
    /* text-decoration: none; */
    color: rgb(0, 128, 128);
    border-bottom: 1px solid rgba(0, 128, 128, 0);
    text-decoration: none;
    /* transition from hovering to not */
    transition: all 500ms ease 0s;
}

/* BETTER TRANSITION https://codepen.io/aaronldunlap/pen/rvFxo */
a:hover {
    /* transition from nothing to hovering */
    transition: all 400ms ease 0s;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.name{
    /* cursor: pointer;     */
    font-size: x-large;
    font-weight: bold;
}

/* fishe! */
.fishe{
    width: 100%;
    height: 1000px;
}

header {
    display: flex; /* this makes everything with the pertinent class a FLEXBOX */
    justify-content: space-between; /* this pushes the left and right items to the furthest edges*/
    align-items: center;
    padding: 10px 5%;
    border-bottom: 2px solid;

    /* this stuff pertains directly to navbar tho so idk if this is optimal */
    /* text-align: center; */
    font-family: Exo, sans-serif ;
    font-weight: 400;
    font-size: 20px;
}
/* 
.navbar{ 
    
}  */

.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    font-size: 20px;
} 

/* need this one and not the hover so that the link doesnt look all ugly by default
.nav_links li a {
    
}  */

/* .nav_links li a:hover {
    transition: all 0.2s ease 0s;
    color: white;
} */



/* BOOKS PAGE STYLE PART ================================================================ */
.book img{
    width: 20%;
}

figure {
    /* Displays an element as a block element (like <p>).*/
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}