@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Exo:wght@500&display=swap');
/* <!-- some basic color theory to think about the website palette wouldn't hurt --> */

/* what this do - look good tho */
html {
    font-size: calc(1em + 0.5vw);
    background-color: lightblue;
} 

.row {
    display: flex;
}

.col {
    flex: 33%;
}

.book-elt {
    overflow: auto;
    padding: .5em;
}

.center {
    text-align: center;
}

.book-elt img {
    float: left;
    width: 200px;
    margin-right: 16px;
}